.main-btn {
	height: 2rem;
	justify-content: center;
	align-items: center;
	background: $color-main;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 8px 20px rgba(74, 131, 239, 0.1);
	border-radius: 4px;
	margin-bottom: 0.5rem;
// 텍스트
	color: white;
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 22px;
	text-align: center;

	&:hover{
		box-shadow: 0px 0px 10px 1px $color-purple;
  }
}

.sub-btn {
  height: 2rem;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(#fff, #fff), $color-main;
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 8px 20px rgba(74, 131, 239, 0.1);
	border-radius: 4px;
	margin-bottom: 0.5rem;
// 텍스트
	font-weight: 400;
	font-size: 0.8rem;
	line-height: 22px;
	text-align: center;

	&:hover{
		box-shadow: 0px 0px 10px 1px $color-purple;
  }
}