<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="assets/image/logoIcon.svg" type="image/svg"/>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/demo-console/index.css">
    <link rel="stylesheet" href="bower_components/ekko-lightbox/dist/ekko-lightbox.min.css">
    <script src="https://kit.fontawesome.com/efaff327b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/kurento.css">

    <script src="bower_components/webrtc-adapter/release/adapter.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/demo-console/index.js"></script>
    <script src="bower_components/draggabilly/dist/draggabilly.pkgd.min.js"></script>
    <script src="bower_components/ekko-lightbox/dist/ekko-lightbox.min.js"></script>

    <script src="bower_components/kurento-utils/js/kurento-utils.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"></script>

    <!-- chatting button -->
    <script type="text/javascript">
      function show(){
          if($('#main__chat_window').css('display') == 'none'){
          $('#main__chat_window').show();
      }else{
          $('#main__chat_window').hide();
      }
      }

      (function(){
        $("#lock").on("click", function() {
          $(".lock-check").fadeToggle( "fast");
        });
      })()
  </script>
    <script defer src="js/index.js"></script>
    <script>
      var sharedMessages = [];
      var listening = {
        value:false
      };
      var draft = "";

      const sr = new webkitSpeechRecognition();
      sr.lang = "ko-KR";
      const sr2 = new webkitSpeechRecognition();
      sr2.lang = "ko-KR";
      sr2.continuous = true;
      sr2.interimResults = true;

      const ask = function(prompt) {return awaiter(void 0, void 0, Promise, function(){
        return generator(this, function(a){
            switch(a.label){
                case 0:
                    a.trys.push([0, , 2, 3]);
                    currentPrompt.value = prompt;
                    return [4, new Promise(function (resolve, reject){
                        sr.onresult = function(event){
                            var text = Array.from(event.results)
                                .map(function(alts){return alts[0].transcript;})
                                .join("");
                            resolve(text);
                        };
                        sr.onerror = function(e) {
                            reject(new Error("Unable to recognize text: " + e.error));
                        };
                        sr.start();
                    })];
                case 1: return [2, a.sent()];
                case 2: 
                    currentPrompt.value = "";
                    return [7];
                case 3: return [2];
            }
        });
    }); };

    const startListen = function() {
      console.log("startListen");
      listening.value = true;
      sr2.onresult = function(event) {
          var finalTranscript = "";
          var interimTranscript = "";
          for(var i=event.resultIndex; i<event.results.length; i++){
              if(event.results[i].isFinal){
                  finalTranscript += event.results[i][0].transcript;
              } else {
                  interimTranscript += event.results[i][0].transcript;
              }
          }
          draft.value = interimTranscript;
          // console.log(draft);
          if(finalTranscript) {
              sharedMessages.push([
                  {
                      text: finalTranscript,
                  },
              ]);
              //console.log(sharedMessages);
              console.log(sharedMessages[sharedMessages.length-1][0].text);
              axios({
                baseURL: "https://api.cognitive.microsofttranslator.com/",
                url: '/translate',
                method: 'post',
                headers: {
                  'Ocp-Apim-Subscription-Key': "b1c87c3a98964443ba16fbb4db3e572b",
                  'Ocp-Apim-Subscription-Region': "koreacentral",
                  'Content-type': 'application/json',
                  'X-ClientTraceId': uuidv4().toString()
                },
                params: {
                  'api-version': '3.0',
                  'from': 'ko',
                  'to': 'en'
                },
                data: [{
                  'text': sharedMessages[sharedMessages.length-1][0].text
                }],
                responseType: 'json'
              }).then(function(response){
                var translationResult = response.data;
                //console.log(JSON.stringify(response.data, null, 4));
                sendMessage({
                  id : 'translate',
                  from : users[0],
                  to: users[1],
                  text: translationResult[0].translations[0].text
                });
              })
            }
      };
      sr2.onerror = function() {
        console.log("onerror");
        try {
          if(listening.value===true) {
            sr2.start();
          }
        } catch {
          console.log("말을 더 이상 안하실 예정이면 번역 기능을 꺼주세요~!");
        }
        //listening.value = false;
      };
      sr2.onend = function() {
        console.log("onend");
        if(listening.value===true) {
          sr2.start();
        }
        //listening.value = false;
      };
      sr2.start();
      return [2];
    };
    
    var stopListen = function () {
        console.log("stopListen");
        listening.value = false;
        sr2.stop();
    };
    </script>
    <title>sOWLmate</title>

  </head>
  <body>
    <!-- header -->
    <div class="header">
      <div class="container">
        <ul class="navbar-left">
          <li class="header-li"><img id="logo" src="./assets/image/logoLong.svg" alt="logo"></li>
          <li class="header-li"><span class="title">Title of Meeting</span></li>
        </ul>
        <ul class="navbar-right">
          <li class="header-li"><span class="time-check">시간 체크</span></li>
            <!-- <li><a href="#" id="lock"></a><i class="fa-solid fa-lock nav-icon"></i></a></li> -->
            <li class="header-li"><a href="#" id="unlock"><i class="fa-solid fa-unlock nav-icon"></i></a></li>
            <li class="header-li"><a href="#" id="setting"><i class="fa-solid fa-gear nav-icon"></i></a></li>
            <li class="header-li"><button class="btn btn__primary" id="terminate">종료</button></li>
        </ul>
      </div>
    </div>
    <!-- main left -->
    <!-- 인생 네컷 + 필터 선택 -->
    <div class="main">  
      <div class="main__left">
        <div class="filter" display="none">
          <div class="effects">
            <div value="">Filter Off</div>
            <div value="alien">Alien</div>
            <div value="aviators">Aviators</div>
            <div value="background_blur">Background Blur</div>
            <div value="ball_face">Ball Face</div>
            <div value="beard">Beard</div>
            <div value="beauty">Beauty</div>
            <div value="dalmatian">Dalmatian</div>
            <div value="fairy_lights">Fairy Lights</div>
            <div value="flowers">Flowers</div>
            <div value="frankenstein">Frankenstein</div>
            <div value="koala">Koala</div>
            <div value="lion">Lion</div>
            <div value="look1">Look1</div>
            <div value="look2">Look2</div>
            <div value="manly_face">Manly Face</div>
            <div value="plastic_ocean">Plastic Ocean</div>
            <div value="pumpkin">Pumpkin</div>
            <div value="scuba">Scuba</div>
            <div value="tape_face">Tape Face</div>
            <div value="teddycigar">Teddy Cigar</div>
            <div value="tiny_sunglasses">Tiny Sunglasses</div>
            <div value="topology">Topology</div>
          </div>
        </div>
        <!-- 인생네컷 -->
        <div>
          <button id="btn-capture" onclick="initialize()">sayCheese</button>
          <div>
            <canvas id="canvas" width="560" height="950"></canvas>
          </div>
        </div>

      </div>
      <!-- main center (비디오) -->
      <div class="main__center">
        <div class="videos__group">
          <div id="video-grid">
              <div id="videoBig">
                <!-- 자막 -->
                </div>
                  <p id="videoSubtitles"></p>
                </div>
                <canvas id="remoteCanvas"  width="640" height="480" ></canvas>>Your browser does not support Canvas</canvas>
                  <video id="videoOutput" autoplay width="800" height="600" style="display:none;"></video>
                  </div>
                  <div id="videoSmall">
                    <canvas id="canvasInput" width="360" height="280" style="display:none;" ></canvas>
                    <video id="videoInput" autoplay width="360" height="280" ></video>
              </div>
            </div>

      <!-- main-right -->
      <div class="main__right">
        <div class="main__chat_window">
          <div class="chat__header">
              <div class="greeting">
                <span class="chat__header__greetings" id="username">
                </span>
              </div>
            <div class="switch" id="translate-text">
              <p>번역</p>
              <div class="switch__1" id="noncheck">
                <input id="switch-1" type="checkbox">
                <label for="switch-1"></label>
              </div>
              <div class="switch__2" id="checked" style="display:none;">
                <input id="switch-2" type="checkbox" checked>
                <label for="switch-2"></label>
              </div>
            </div>
          </div>
          <div id="chatView">
          </div>
          <form id="chatForm" onsubmit="return false">
              <input type="text" id="msg" autocomplete="off" placeholder="Type message here...">
              <input type="submit" id="send" value="전송">
          </form>
        </div>
      </div>
  </div>
      <!-- 옵션 -->
      <div class="options">
        <div class="menu-container">
            <ul id="menu">
                   <a class="menu-button icon-plus" style="overflow: hidden;" href="#menu" title="Show navigation"></a>
                   <a class="menu-button icon-minus" style="overflow: hidden;" href="#0" title="Hide navigation"></a>
                   <li class="menu-item">
                       <div href="" id="stopVideo" class="options__button" >
                            <!-- <i class="fa-solid fa-video-slash"></i> -->
                            <i class="fa-solid fa-video menu-icon"></i>
                       </div>
                   </li>
                <li class="menu-item">
                    <div href="" id="muteButton" class="options__button" >
                    <!-- <i class="fa-solid fa-microphone-slash"></i> -->
                        <i class="fa-solid fa-microphone menu-icon" aria-hidden="true"></i>
                    </div>
                </li>
                <li class="menu-item check"  onclick="show()">
                    <div href="" id="showChat"class="options__button" >
                        <i class="fa-solid fa-message menu-icon-check"></i>
                    </div>
                </li>
                <!-- <li class="menu-item" onclick="stopListen()"> -->
                <li class="menu-item check" onclick="startListen()">
                    <div href="">
                      <!-- <i class="fa-solid fa-language menu-icon"></i> -->
                        <i class="fa-solid fa-language menu-icon-check"></i>
                    </div>
                </li>
              <!-- </li> -->
            </ul>
        </div>
      </div>

        <!-- </div> -->
        <!-- display translation -->
        <!-- <div> -->
          <!-- <div v-if="!langIsSet">
            <h2 class="text-3xl mb-6">Select language</h2>
            <ul class="langlist">
              <li v-for="[n] of locales" :key="n">
                <a class="text-blue-800" :href="'?lang=' + n">{{ n }}</a>
              </li>
            </ul>
          </div> -->
          <!-- <br>
          <div>
            <button onclick="startListen()">Start Listening</button>
            <button onclick="stopListen()">Stop Listening</button> -->
            <!-- <button id="btn-capture" onclick="initialize()">sayCheese</button>
          </div> -->
          

    <!-- </div> -->
      <!-- chat -->
      <!-- <div id="chatting" style="display:none">
        <div class="chat__header">
          <span class="chat__header__greetings" id="username">
          </span>
        </div>
        <div id="chatView">
        </div>
        <form id="chatForm" onsubmit="return false">
          <input type="text" id="msg" autocomplete="off" placeholder="Type message here...">
          <input type="submit" id="send" value="전송">
        </form>
      </div> -->

    <!-- </div> -->
    <script type="text/javascript" src="lib/deepar.js"></script>
    <!-- <script src="js/index.js"></script> -->
  </body>
</html>
