<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="assets/logoIcon.svg" type="image/svg"/>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/demo-console/index.css">
    <link rel="stylesheet" href="bower_components/ekko-lightbox/dist/ekko-lightbox.min.css">
    <link rel="stylesheet" href="css/kurento.css">

    <script src="bower_components/webrtc-adapter/release/adapter.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/demo-console/index.js"></script>
    <script src="bower_components/draggabilly/dist/draggabilly.pkgd.min.js"></script>
    <script src="bower_components/ekko-lightbox/dist/ekko-lightbox.min.js"></script>

    <script src="bower_components/kurento-utils/js/kurento-utils.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"></script>

    <script>
      var sharedMessages = [];
      var listening = {
        value:false
      };
      var draft = "";

      const sr = new webkitSpeechRecognition();
      sr.lang = "ko-KR";
      const sr2 = new webkitSpeechRecognition();
      sr2.lang = "ko-KR";
      sr2.continuous = true;
      sr2.interimResults = true;

      const ask = function(prompt) {return awaiter(void 0, void 0, Promise, function(){
        return generator(this, function(a){
            switch(a.label){
                case 0:
                    a.trys.push([0, , 2, 3]);
                    currentPrompt.value = prompt;
                    return [4, new Promise(function (resolve, reject){
                        sr.onresult = function(event){
                            var text = Array.from(event.results)
                                .map(function(alts){return alts[0].transcript;})
                                .join("");
                            resolve(text);
                        };
                        sr.onerror = function(e) {
                            reject(new Error("Unable to recognize text: " + e.error));
                        };
                        sr.start();
                    })];
                case 1: return [2, a.sent()];
                case 2: 
                    currentPrompt.value = "";
                    return [7];
                case 3: return [2];
            }
        });
    }); };

    const startListen = function() {
      console.log("startListen");
      listening.value = true;
      sr2.onresult = function(event) {
          var finalTranscript = "";
          var interimTranscript = "";
          for(var i=event.resultIndex; i<event.results.length; i++){
              if(event.results[i].isFinal){
                  finalTranscript += event.results[i][0].transcript;
              } else {
                  interimTranscript += event.results[i][0].transcript;
              }
          }
          draft.value = interimTranscript;
          // console.log(draft);
          if(finalTranscript) {
              sharedMessages.push([
                  {
                      text: finalTranscript,
                  },
              ]);
              //console.log(sharedMessages);
              console.log(sharedMessages[sharedMessages.length-1][0].text);
              axios({
                baseURL: "https://api.cognitive.microsofttranslator.com/",
                url: '/translate',
                method: 'post',
                headers: {
                  'Ocp-Apim-Subscription-Key': "b1c87c3a98964443ba16fbb4db3e572b",
                  'Ocp-Apim-Subscription-Region': "koreacentral",
                  'Content-type': 'application/json',
                  'X-ClientTraceId': uuidv4().toString()
                },
                params: {
                  'api-version': '3.0',
                  'from': 'ko',
                  'to': 'en'
                },
                data: [{
                  'text': sharedMessages[sharedMessages.length-1][0].text
                }],
                responseType: 'json'
              }).then(function(response){
                var translationResult = response.data;
                document.getElementById("videoSubtitles").innerHTML = translationResult[0].translations[0].text;
                console.log(JSON.stringify(response.data, null, 4));
              })
            }
      };
      sr2.onerror = function() {
        console.log("onerror");
        try {
          if(listening.value===true) {
            sr2.start();
          }
        } catch {
          console.log("말을 더 이상 안하실 예정이면 번역 기능을 꺼주세요~!");
        }
        //listening.value = false;
      };
      sr2.onend = function() {
        console.log("onend");
        if(listening.value===true) {
          sr2.start();
        }
        //listening.value = false;
      };
      sr2.start();
      return [2];
    };
    
    var stopListen = function () {
        console.log("stopListen");
        listening.value = false;
        sr2.stop();
    };
    </script>
    <!-- chatting button -->
    <script type="text/javascript">
      function show(){
          if($('#chatting').css('display') == 'none'){
          $('#chatting').show();
      }else{
          $('#chatting').hide();
      }
      }
  </script>
    <title>sOWLmate</title>

  </head>
  <body>
      <div id="left">
        <div id="videoBig">
          <!-- <canvas id="remoteCanvas">Your browser does not support Canvas</canvas> -->
          <video id="videoOutput" autoplay width="640px" height="480px" poster="img/webrtc.png"></video>
        </div>
        <div id="videoSmall">
          <!-- <canvas id="localCanvas">Your browser does not support Canvas</canvas> -->
          <video id="videoInput" autoplay width="240px" height="180px" poster="img/webrtc.png"></video>
        </div>
  
      <div id="control">
        <a id="terminate" href="#" class="btn btn-danger">
          <span class="glyphicon glyphicon-stop"></span> Stop</a>
        <button id="chatting-show" onclick="show()" class="btn btn-danger">
          <span class="glyphicon glyphicon-chat"></span> Chatting</button>
      </div>
      <!-- display translation -->
      <div>
        <!-- <div v-if="!langIsSet">
          <h2 class="text-3xl mb-6">Select language</h2>
          <ul class="langlist">
            <li v-for="[n] of locales" :key="n">
              <a class="text-blue-800" :href="'?lang=' + n">{{ n }}</a>
            </li>
          </ul>
        </div> -->
        <br>
        <div>
          <button onclick="startListen()">Start Listening</button>
          <button onclick="stopListen()">Stop Listening</button>
        </div>
        <p id="videoSubtitles"></p>
      </div>
    </div>
      <!-- chat -->
  <div id="chat-log"></div>
      <div id="chatting" style="display:none">
        <div class="chat__header">
          <span class="chat__header__greetings">
          </span>
        </div>
        <div id="chatView">
        </div>
        <form id="chatForm" onsubmit="return false">
          <input type="text" id="username_send">
          <input type="text" id="msg">
          <input type="submit" id="send" value="전송">
        </form>
      </div>
    <div id="controls">
      <select id="effects">
        <option value="">Filter OFF</option>
        <option value="alien">Alien</option>
        <option value="aviators">Aviators</option>
        <option value="background_blur">Background Blur</option>
        <option value="background_segmentation">Background Segmentation</option>
        <option value="ball_face">Ball Face</option>
        <option value="beard">Beard</option>
        <option value="beauty">Beauty</option>
        <option value="dalmatian">Dalmatian</option>
        <option value="fairy_lights">Fairy Lights</option>
        <option value="flowers">Flowers</option>
        <option value="frankenstein">Frankenstein</option>
        <option value="hair_segmentation">Hair Segmentation</option>
        <option value="koala">Koala</option>
        <option value="lion">Lion</option>
        <option value="look1">Look1</option>
        <option value="look2">Look2</option>
        <option value="manly_face">Manly Face</option>
        <option value="plastic_ocean">Plastic Ocean</option>
        <option value="pumpkin">Pumpkin</option>
        <option value="scuba">Scuba</option>
        <option value="tape_face">Tape Face</option>
        <option value="teddycigar">Teddy Cigar</option>
        <option value="tiny_sunglasses">Tiny Sunglasses</option>
        <option value="topology">Topology</option>
      </select>
      <div class="pills">
      </div>
    </div>
    <script type="text/javascript" src="lib/deepar.js"></script>
    <script src="js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
       // 채팅 관련
      var socket = io();
      var chatView = document.getElementById('chatView');
      var chatForm = document.getElementById('chatForm');
        
      // 메세지 전송 시 처리
      chatForm.addEventListener('submit', function() {
        var msg = $('#msg');
        var name = $('#username_send');

        if (msg.val() == '') {
        return;

        } else {
        // 내 메세지 표시
        socket.emit('SEND', name.val(), msg.val());

        var msgLine = $('<div class="msgLine">');
        var msgBox = $('<div class="me">');

        msgBox.append(msg.val());
        msgBox.css('display', 'inline-block');

        msgLine.css('text-align', 'right');
        msgLine.append(msgBox);

        $('#chatView').append(msgLine);

        msg.val('');
        chatView.scrollTop = chatView.scrollHeight;
        }
      });

    // 타인 메세지 구성
    socket.on('SEND', function(name, msg) {
      var msgLine = $('<div class="msgLine">');
      var msgBox = $('<div class="msgBox">');
      var nameLine = $('<div class="nameLine">');
      var nameBox = $('<div class="nameBox">');
      
      nameBox.append(name);
      msgBox.append(msg);
      nameBox.css('display', 'inline-block');
      msgBox.css('display', 'inline-block');
      
      nameLine.append(nameBox);
      msgLine.append(msgBox);
      $('#chatView').append(nameLine);
      $('#chatView').append(msgLine);

      chatView.scrollTop = chatView.scrollHeight;
    });

    // 이름 생성
    socket.on('create name', function(name){
      // 전달받은 name input값으로 name 설정
      $('#username_send').val(name);
      var header = $('.chat__header__greetings');
      header.append(`${name} 님의 채팅창`)
    });

    // 채팅방 접속
    socket.on('join', function(name){
      var usernameBox = $('<div class="usernameBox">');
      var chat = $('#chatView');
      chatLine = $('<div id="username">');
      chatLine.append(`\n[알림] ${name} 님이 채팅창에 입장하였습니다.\n`);
      chatLine.css('display', 'inline-block');
      usernameBox.css('text-align', 'center');
      usernameBox.append(chatLine);
      chat.append(usernameBox);
      chatView.scrollTop = chatView.scrollHeight;
    });

    // 채팅방 종료
    socket.on('disconnected', function(name){
      var usernameBox = $('<div class="usernameBox">');
      var chat = $('#chatView');
      chatLine = $('<div id="username">');
      chatLine.append(`[알림] ${name} 님이 채팅창에서 퇴장하셨습니다.\n`);
      chatLine.css('display', 'inline-block');
      usernameBox.css('text-align', 'center');
      usernameBox.append(chatLine);
      $('#chatView').append(usernameBox);
      chatView.scrollTop = chatView.scrollHeight;
    })
    </script>
  </body>
</html>
